@media screen and (min-width: 320px) and (max-width: 767px) {
  .contact-place {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  .logo__second,
  .contact-place {
    color: $neutralColor;
  }

  .footer {
    background-color: $heroBackgroundColor;
    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 60px;
    }
  }

  .footer-form,
  .footer-button {
    display: flex;
  }

  .media,
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-place{
    margin-top: 20px;
    margin-bottom: 8px;
  }


  .contact-link--marginrb-first {
    margin-bottom: 8px;
  }

  .contact-link--marginrb-last {
    margin-bottom: 60px;
  }

  .footer-banner {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $neutralColor;
    display: flex;
    justify-content: center;
  }

  .media-icons--footer {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .media-icons__link--footer {
    background-color: rgba(255, 255, 255, 0.1);
    fill: $neutralColor;
  }

  .footer-form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

    &__field {
      width: 450px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background: #2f303a;
      margin-top: 20px;
      padding-left: 16px;
      outline: none;
      &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  .footer-button {
    width: 200px;
    height: 50px;
    background: $mainColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
    &__text {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.86;
      letter-spacing: 0.06em;
      color: $neutralColor;
      padding-left: 36px;
      padding-right: 18px;
    }

    &__vector {
      fill: $neutralColor;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-place {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  .logo__second,
  .contact-place {
    color: $neutralColor;
  }

  .footer {
    background-color: $heroBackgroundColor;
    &__container {
      align-items: baseline;
      padding-top: 60px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .footer__container,
  .footer-form,
  .footer-button {
    display: flex;
  }

  .contact {
    display: flex;
    flex-direction: column;
    margin-left: 61px;
    align-items: center;
  }

  .contact-place,
  .contact-link--marginrb-first {
    margin-bottom: 9px;
  }

  .contact-link--marginrb-last {
    margin-bottom: 60px;
  }

  .media {
    padding-left: 70px;
        margin-right: 74px;
  }

  .footer-banner {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $neutralColor;
    display: flex;
    justify-content: center;
  }

  .media-icons--footer {
    padding-top: 20px;
  }

  .media-icons__link--footer {
    background-color: rgba(255, 255, 255, 0.1);
    fill: $neutralColor;
  }

  .footer-form {
    display:flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    &__label {
      align-items: flex-start;
    }

    &__field {
      width: 450px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background: #2f303a;
      margin-top: 20px;
      padding-left: 16px;
      outline: none;
      &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  .footer-button {
    width: 200px;
    height: 50px;
    background: $mainColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
    &__text {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.86;
      letter-spacing: 0.06em;
      color: $neutralColor;
      padding-left: 36px;
      padding-right: 18px;
    }

    &__vector {
      fill: $neutralColor;
    }
  }
}

@media screen and (min-width: 1200px) {
  .contact-place {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  .logo__second,
  .contact-place {
    color: $neutralColor;
  }

  .footer {
    background-color: $heroBackgroundColor;
    &__container {
      align-items: baseline;
      padding-top: 60px;
    }
  }

  .footer__container,
  .footer-form,
  .footer-button {
    display: flex;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }

  .contact-place,
  .contact-link--marginrb-first {
    margin-right: auto;
    margin-bottom: 9px;
  }

  .contact-link--marginrb-last {
    margin-right: auto;
    margin-bottom: 60px;
  }

  .media {
    padding-left: 70px;
  }

  .footer-banner {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $neutralColor;
  }

  .media-icons--footer {
    padding-top: 20px;
  }

  .media-icons__link--footer {
    background-color: rgba(255, 255, 255, 0.1);
    fill: $neutralColor;
  }

  .footer-form {
    justify-content: flex-end;
    margin-left: auto;
    &__label {
      align-items: flex-start;
    }

    &__field {
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background: #2f303a;
      margin-top: 20px;
      padding-left: 16px;
      outline: none;
      &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }

  .footer-button {
    width: 200px;
    height: 50px;
    background: $mainColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    align-items: center;
    margin-left: 12px;
    align-self: flex-end;
    &__text {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.86;
      letter-spacing: 0.06em;
      color: $neutralColor;
      padding-left: 36px;
      padding-right: 18px;
    }

    &__vector {
      fill: $neutralColor;
    }
  }
}
