body{
  font-family: $mainFont;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p{
  margin:0;
}

p,
ul{
  padding:0;
}

img{
  display:block;
}

.no-decoration{
  text-decoration: none;
  list-style-type: none;
}

.container{
  min-width: 320px;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px){
  .container{
    max-width: 480px;
    padding: 0 31px;
}
}

@media screen and (min-width: 768px){
  .container{
    max-width: 768px;
    padding: 0 39px;
}
}

@media screen and (min-width: 1200px){
  .container{
    max-width: 1200px;
    padding: 0 15px;
}
}

.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
